*{
    margin: 0px;
    padding: 0px
}

body{
    margin: auto;
    text-align: center;
    background-color: rgb(181, 201, 244);
    width: 95%;
}

nav{
    z-index: 0;
    position: sticky;
}

h1{
    font-style: italic;
}